.col-2
{
    background-color: brown;
    height: 200px;
    border: 2px solid white;
}
.col-8
{
    background-color: brown;
    height: 200px;
    border: 2px solid white;
}
.col-sm-3
{
    background-color: brown;
    height: 200px;
    border: 2px solid white;
}
.col-sm-6
{
    background-color: brown;
    height: 200px;
    border: 2px solid white;
}
.col-md-4
{
    background-color: brown;
    height: 200px;
    border: 2px solid white;
}
.col-lg-5
{
    background-color: brown;
    height: 200px;
    border: 2px solid white;
}
.col-lg-2
{
    background-color: brown;
    height: 200px;
    border: 2px solid white;
}
.col-xl-1
{
    background-color: brown;
    height: 200px;
    border: 2px solid white;
}
.col-xl-10
{
    background-color: brown;
    height: 200px;
    border: 2px solid white;
}